body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #14532d, #4ade80);
}

/* Box tengah */
.container {
    width: 320px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Judul */
h2 {
    margin-bottom: 20px;
    color: #14532d;
}

/* Input */
input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #a7f3d0;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #16a34a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #15803d;
}

/* Link */
a {
    color: #16a34a;
    text-decoration: none;
}

p {
    margin-top: 10px;
}